﻿@inherits LayoutComponentBase

@if (!hide) { 
<div class="sidebar">
    <NavMenu />
</div>
}

<div class="main">
    <div class="top-row px-4">
        <button class="btn btn-light" @onclick="() => { hide = hide?false:true; }" > Панель </button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    bool hide= false;
}