﻿<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="presets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Пресеты камер
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="tvs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Телевизоры
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="kramers">
                <span class="oi oi-plus" aria-hidden="true"></span> Зал
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="conference">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Конференция
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="conference/setup">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Настройки конф.
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="voting/setup">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Голосование
            </NavLink>
        </li>
        <li class="nav-item px-lg-1">
            <NavLink class="nav-link" href="voting/results">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Результаты голос.
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
