﻿@page "/configuration/dicentis"
@using WebApp.Shared
@inject HttpClient Http
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
        <li class="breadcrumb-item"> Конфигурация </li>
        <li class="breadcrumb-item active"> Dicentis </li>
    </ol>
<h3> Настройки Dicentis </h3>
    <EditForm Model="info" OnValidSubmit="SendRequest">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="ipAddress" class="font-weight-bold"> Адрес устройства </label>
            <InputText id="ipAddress" class="form-control my-1 mr-sm-2" @bind-Value ="info.Ip"/>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="username" class="col-1 font-weight-bold"> Логин </label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"> # </div>
                    </div>
                    <InputText class="form-control my-1 mr-sm-2" id="username" @bind-Value="info.UserName" />
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="password" class="col-1 font-weight-bold"> Пароль </label>
                <InputText type="password"  class="form-control my-1 mr-sm-2" id="password" @bind-Value="info.Password" />
            </div>
        </div>
        <button type="submit"class="btn btn-primary my-1"> Подтвердить </button>

    </EditForm>



@code {
    BoschInfo info = new BoschInfo();
    protected override async Task OnInitializedAsync()
    {
        info = await Http.GetJsonAsync<BoschInfo>("api/BoschInfoes/1");
    }
    public async Task SendRequest()
    {
        await Http.PutJsonAsync("/api/BoschInfoes/1",info);
        await Http.GetAsync("/api/Dicentis/logout");


    }
}
