﻿@page "/presets"
@using WebApp.Shared;
@inject HttpClient Http
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
    <li class="breadcrumb-item active"> Пресеты Камер  </li>
</ol>
<h2> Пресеты Камер </h2>
@if (selectedEdit)
{
    <h3> Редактировать </h3>
    <EditForm Model="selected" OnValidSubmit="SendRequest">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label class="col-1 font-weight-bold"> Name </label>
                <InputText class="form-control my-1 mr-sm-2" @bind-Value="selected.Name" />
            </div>
            <div class="col-md-4 mb-2">
                <label class="col-1 font-weight-bold">Zoom </label>
                <InputNumber class="form-control my-1 mr-sm-2" @bind-Value="selected.Zoom" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label class="col-1 font-weight-bold">  Pan (-180,180) </label>
                <InputNumber class="form-control my-1 mr-sm-2" @bind-Value="selected.PanPosition " />
            </div>
            <div class="col-md-4 mb-2">
                <label class="col-1 font-weight-bold"> Tilt (-90,90) </label>
                <InputNumber class="form-control my-1 mr-sm-2" @bind-Value="selected.TiltPosition " />
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-1"> Submit </button>
        <button type="reset" class="btn btn-danger my-1" @onclick="() => { selectedEdit = false;}"> Reset </button>
    </EditForm>
}

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col"># </th>
            <th scope="col"> Порт </th>
            <th scope="col"> Name </th>
            <th scope="col"> Pan  </th>
            <th scope="col">Tilt  </th>
            <th scope="col"> Zoom </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var cameraPreset in presets)
        {
            <tr>
                <th scope="row"> @cameraPreset.Id </th>
                <td> @cameraPreset.ComPort </td>
                <td> @cameraPreset.Name </td>
                <td> @((int)Math.Round(cameraPreset.PanPosition / 48.77777778)) </td>
                <td> @((int)Math.Round(cameraPreset.TiltPosition / 28.4444)) </td>
                <td> @((int)Math.Round(cameraPreset.Zoom)) </td>
                <td> <button class="btn btn- btn-outline-primary" @onclick="() => { selected = new EditablePreset {Id = cameraPreset.Id,ComPort = cameraPreset.ComPort,Name = cameraPreset.Name, PanPosition = (int)(Math.Round(cameraPreset.PanPosition / 48.77777778)),TiltPosition =(int)Math.Round(cameraPreset.TiltPosition / 28.4444),Zoom = Math.Round(cameraPreset.Zoom) }; selectedEdit = true; }"> Edit </button> </td>
                <td> <button class="btn btn- btn-outline-danger" @onclick="() => Delete(cameraPreset.Id)"> Delete </button> </td>
                <td> <button class="btn btn- btn-outline-success" @onclick="() => Execute(cameraPreset)"> Execute </button> </td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<CameraPreset> presets = new List<CameraPreset>();
    EditablePreset selected = new EditablePreset();
    WebApp.Shared.CameraPreset preset = new WebApp.Shared.CameraPreset();
    bool selectedEdit;
    protected override async Task OnInitializedAsync()
    {
        presets = await Http.GetJsonAsync<List<CameraPreset>>($"/api/CameraPresets");
        this.StateHasChanged();

    }
    private async Task SendRequest()
    {        
        preset.Name = selected.Name;
        preset.ComPort = selected.ComPort;
        preset.PanPosition = (int)Math.Round(selected.PanPosition * 48.77777778);
        preset.TiltPosition = (int)Math.Round(selected.TiltPosition * 28.4444);
        preset.Zoom = selected.Zoom;
        preset.Id = selected.Id;
        await Http.PutJsonAsync($"/api/CameraPresets/{selected.Id}", preset);
        presets = await Http.GetJsonAsync<List<CameraPreset>>($"/api/CameraPresets");
        selectedEdit = false;
    }
    private async Task Delete(int id)
    {
        await Http.DeleteAsync($"/api/CameraPresets/{id}");
        presets = await Http.GetJsonAsync<List<CameraPreset>>("/api/CameraPresets");
        this.StateHasChanged();
    }
    private void Execute(CameraPreset preset)
    {
        var body = new CameraAbsolute { ComPort = preset.ComPort, Coordinate = new Coordinates { PanPosition = preset.PanPosition, TiltPosition = preset.TiltPosition, Zoom = preset.Zoom } };
        Task.Run(async () => await Http.PostJsonAsync("api/Cameras/movement", body));
    }
}
