﻿@page "/control/{comPort}"
@using WebApp.Client.Services
@using WebApp.Shared;
@using System.Threading;
@inject HttpClient Http
@if (isException) { 
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> @message
    <button type="button" class="close" @onclick="() => {isException = false; }" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
    <li class="breadcrumb-item">Камеры</li>
    <li class="breadcrumb-item active"> Камера @camera?.Id </li>
    <li class="breadcrumb-item"> <a href=@($"/presets/{ComPort}")> Пресеты Камеры </a> </li>
</ol>
<h1>Camera Control</h1>
<div class="card w-100 shadow-lg bg-light mb-3">
    <h5 class="card-header">Camera Control</h5>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="btn-group-vertical">
                <button id="up" class="btn btn btn-primary btn-lg btn-block" @onmousedown="MoveUp" @onmouseup="MoveStop" > Up </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg" @onmousedown="MoveLeft" @onmouseup="MoveStop"  > Left </button>
                    <button type="button" class="btn btn-primary btn-lg" @onmousedown="MoveRight" @onmouseup="MoveStop"> Right </button>
                </div>
                <button type="button" class="btn btn btn-primary btn-lg btn-block" @onmousedown="MoveDown" @onmouseup="MoveStop"> Down </button>
                <div class="btn-group">
                    <button type="button" class="btn  btn-primary btn-lg " @onmousedown="ZoomIn" @onmouseup="ZoomStop"> Zoom In </button>
                    <button type="button" class="btn  btn-primary btn-lg " @onmousedown="ZoomOut" @onmouseup="ZoomStop" > Zoom Out </button>
                </div>
            </div>

        </div>

    </div> 
    <div class="card-body">
        @if (!isEdit)
        {
            <button type="button" class="btn btn-primary btn-lg btn-block" @onclick="() => { isEdit = true; }"> Save As Preset </button>
        }
        else
        {
    <EditForm Model="preset" OnValidSubmit="SavePreset">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label class="font-weight-bold"> Название пресета </label>
                <InputText class="form-control my-1 mr-sm-2" @bind-Value="preset.Name" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-1"> Submit </button>
        <button type="reset" class="btn btn-danger my-1" @onclick="() => { isEdit = false;}"> Reset </button>
    </EditForm>
        }
        </div>
</div>

@code {
    [Parameter]
    public string ComPort { get; set; }
    public bool isException;
    public string message;
    ViscaCamera camera = new ViscaCamera { Coordinate = new Coordinates(), Id = 0, Port = new PortInfo()};
    public CameraPreset preset = new CameraPreset { Name = "Preset" };
    bool isEdit;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            camera = await Http.GetJsonAsync<ViscaCamera>($"api/Cameras/{ComPort}");
            preset.ComPort = ComPort;
            preset.Zoom = 1;
        }
        catch (Exception e)
        {
            isException = true;
            message = e.Message;
            camera = new ViscaCamera { Coordinate = new Coordinates(), Id = 0, Port = new PortInfo()};
        }
    }
    private void MoveUp()
    {
        var jog = new CameraJoystic
        {
            Speed = 10,
            Angle = 0,
            IsRadiance = false
        };
        Task.Run(async () => await Http.PutJsonAsync($"/api/Cameras/movement/{camera.Id}", jog));

    }
    private void MoveDown()
    {
        var jog = new CameraJoystic
        {
            Speed = 10,
            Angle = -180,
            IsRadiance = false
        };
        Task.Run(async () => await Http.PutJsonAsync($"/api/Cameras/movement/{camera.Id}", jog));

    }
    private void MoveLeft()
    {
        var jog = new CameraJoystic
        {
            Speed = 10,
            Angle = -90,
            IsRadiance = false
        };
        Task.Run(async () => await Http.PutJsonAsync($"/api/Cameras/movement/{camera.Id}", jog));

    }
    private void MoveRight()
    {
        var jog = new CameraJoystic
        {
            Speed = 10,
            Angle = 90,
            IsRadiance = false
        };
        Task.Run(async () => await Http.PutJsonAsync($"/api/Cameras/movement/{camera.Id}", jog));
    }
    private async Task MoveStop()
    {
        await Http.GetAsync($"/api/Cameras/movement/stop/{camera.Id}");
        // camera = await Http.GetJsonAsync<ViscaCamera>($"api/Cameras/{ComPort}");
        //this.StateHasChanged();


    }
    private void ZoomIn()
    {
        var zoom = new CameraZoom
        {
            Direction = 0,
            Speed = 4

        };

        Task.Run(async () => await Http.PutJsonAsync($"api/Cameras/zoom/{camera.Id}", zoom));


    }
    private void ZoomOut()
    {
        var zoom = new CameraZoom
        {
            Direction = 1,
            Speed = 4

        };

        Task.Run(async () => await Http.PutJsonAsync($"api/Cameras/zoom/{camera.Id}", zoom));

    }
    private async Task ZoomStop()
    {
        await Http.PutJsonAsync($"api/Cameras/zoom/stop/{camera.Id}", null);
        //camera = await Http.GetJsonAsync<ViscaCamera>($"api/Cameras/{ComPort}");
        //this.StateHasChanged();
    }
    private async Task SavePreset()
    {
        camera = await Http.GetJsonAsync<ViscaCamera>($"api/Cameras/{ComPort}");
        preset.PanPosition = camera.Coordinate.PanPosition;
        preset.TiltPosition = camera.Coordinate.TiltPosition;
        preset.Zoom = camera.Coordinate.Zoom;
        await Http.PostJsonAsync("api/CameraPresets",preset);
        isEdit = false;
    }
}
