﻿@page "/conference/setup"
@using WebApp.Shared;
@inject HttpClient Http
<style>
    input[type='checkbox'] {
        -webkit-appearance: checkbox;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 5px;
        border: 2px solid #555;
    }

        input[type='checkbox']:checked {
            background: #abd;
        }

    .btn {
        width: 100%;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
    <li class="breadcrumb-item"> <a href="/conference"> Конференция </a></li>
    <li class="breadcrumb-item active"> Настройки </li>
</ol>
<div class="d-flex justify-content-lg-between">
    <div class="card text-center w-100 border-primary">
        <div class="card-header"> Режимы голосования </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="container">
                    <button class="btn btn-lg @(discuss.Mode == 0 ? "btn-primary" : "btn-outline-primary")" @onclick ="() => { discuss.Mode = 0; Send();this.StateHasChanged();  }"> Открытый </button>
                </div>
                <div class="container">
                    <button class="btn btn-lg @(discuss.Mode == 1 ? "btn-primary" : "btn-outline-primary")" @onclick ="() => { discuss.Mode = 1; Send();this.StateHasChanged();  }"> Переопределить  </button>
                </div>
                <div class="container">
                    <button class="btn btn-lg @(discuss.Mode == 2 ? "btn-primary" : "btn-outline-primary")" @onclick ="() => { discuss.Mode = 2; Send();this.StateHasChanged();  }"> Голосовой </button>
                </div>
                <div class="container">
                    <button class="btn btn-lg  @(discuss.Mode == 3 ? "btn-primary" : "btn-outline-primary")" @onclick ="() => { discuss.Mode = 3; Send();this.StateHasChanged();  }"> Нажми и говори </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="d-flex justify-content-lg-between">
    <div class="card text-center w-100 border-secondary">
        <div class="card-header"> Опции спикеров </div>
        <div class="card-body">
            @if(discuss.Mode != 2) { 
            <div class="form-group">
                <label for="exampleFormControlSelect">Максимальное число спикеров</label>
                <select multiple class="form-control" id="exampleFormControlSelect" @bind="Speakers" >
                    @for(int idx = 1;idx < 26; ++idx)
                    {
                        <option value="@idx"> @idx  </option>
                    }
                </select>
            </div>
            }
            <div class="d-flex justify-content-between">
                <div class="container">
                    <button class="btn btn-lg  @((discuss.Mode == 2)? "disabled": "") @(discuss.AutoMicOff? "btn-danger":"btn-outline-danger")" @onclick="() => { if(discuss.Mode != 2) { discuss.AutoMicOff = (discuss.AutoMicOff)? false:true; Send(); this.StateHasChanged(); } }"> Выключение после 30 с </button>
                </div>
                <div class="container">
                    <button class="btn @((discuss.AutoShift)? "disabled": "") @(discuss.ParticipantMicOff? "btn-danger":"btn-outline-danger")  btn-lg" @onclick="() => { discuss.ParticipantMicOff = (discuss.ParticipantMicOff)? false:true; Send(); this.StateHasChanged(); }"> Выключать самост. микрофон </button>
                </div>
                <div class="container">
                    <button class="btn btn-lg @((discuss.Mode != 0)? "disabled": "")  @(discuss.AutoShift? "btn-danger":"btn-outline-danger")" @onclick="() => { if(discuss.Mode == 0) { discuss.AutoShift = (discuss.AutoShift)? false:true; Send(); this.StateHasChanged(); } }"> Автомат. смещение в очереди </button>
                </div>
                <div class="container">
                    <button class="btn btn-lg @(discuss.Mode == 2? "disabled": "")   @(discuss.ShowPossibleToSpeak? "btn-danger":"btn-outline-danger")" @onclick="() => { if(discuss.Mode != 2) { discuss.ShowPossibleToSpeak = (discuss.ShowPossibleToSpeak)? false:true; Send(); this.StateHasChanged(); } }"> Показывать возм. говорить </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="d-flex justify-content-lg-between">
    <div class="card text-center w-100 border-info">
        <div class="card-header"> Опции ожидания </div>
        <div class="card-body">
            @if(discuss.Mode == 0) { 
            <div class="form-group ">
                <label for="exampleFormControlSelect2">Максимальное число ожидающих</label>
                <select   multiple  class="form-control" id="exampleFormControlSelect2" @bind="Waitings">
                    @for(int idx = 0;idx < 100; ++idx)
                    {
                        <option value="@idx"> @idx </option>
                    }
                </select>
            </div>
            }
            <div class="d-flex justify-content-between">
                <div class="container">
                    <button class="btn btn-lg @((discuss.Mode!=0)? "disabled": "") @(discuss.AllowCancelRts? "btn-info" : "btn-outline-info")" @onclick="() => { if(discuss.Mode == 0) { discuss.AllowCancelRts = discuss.AllowCancelRts? false:true; Send(); this.StateHasChanged(); } }"> Позволять самост. покинуть список ожидания </button>
                </div>
                <div class="container">
                    <button class="btn btn-lg @((discuss.Mode!=0) ? "disabled": "") @(discuss.ShowFirstInWaitingList? "btn-info" : "btn-outline-info")" @onclick="() => { if(discuss.Mode == 0) { discuss.ShowFirstInWaitingList = discuss.ShowFirstInWaitingList? false:true; Send(); this.StateHasChanged(); } } "> Показывать первого в списке ожидания на местах </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="d-flex justify-content-lg-between">
    <div class="card text-center w-100 border-warning">
        <div class="card-header"> Дополнительные операции </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="container">
                    <button class="btn btn-lg @(discuss.PriorityToneAudible ? "btn-warning":"btn-outline-warning")" @onclick="() => { discuss.PriorityToneAudible = discuss.PriorityToneAudible? false:true; Send(); this.StateHasChanged(); }"> Включить режим приоритета </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    ConferenceSettings discuss = new ConferenceSettings();
    public int Waitings
    {
        get => discuss.WaitingListSize;
        set
        {
            discuss.WaitingListSize = value;
            Task.Run(async () => await Http.PutJsonAsync("api/Dicentis/discuss",discuss));
            this.StateHasChanged();
        }
    }
    public int Speakers
    {
        get => discuss.MaxOpenMics;
        set
        {
            discuss.MaxOpenMics = value;
            Task.Run(async () => await Http.PutJsonAsync("api/Dicentis/discuss",discuss));
            this.StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //Http.DefaultRequestHeaders.ConnectionClose = false;
        var answer = await Http.GetJsonAsync<bool>("api/Dicentis/isLogged");
        if (!answer) 
        {

              var credentials = await Http.GetJsonAsync<BoschInfo>("api/BoschInfoes/1");
              await Http.PostJsonAsync("api/Dicentis/login",credentials);
        }
            discuss = await Http.GetJsonAsync<ConferenceSettings>("/api/Dicentis/discuss");
       
    }
    void Send()
    {
        Task.Run(async () => await Http.PutJsonAsync("api/Dicentis/discuss",discuss));
        this.StateHasChanged();
    }
}
