﻿@page "/conference"
@using WebApp.Shared
@using WebApp.Client.Services
@using System.Threading
@inject BlazorTimer Timer
@inject HttpClient Http

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
        <li class="breadcrumb-item active"> Конференция </li>
    </ol>
<h4 class="display-4"> Места </h4>
<div class="agenda">
    <div class="row">
        @foreach (var seatEntry in seatEntries)
        {
        <div class="col-md-3 mb-4">
            <div class="card  @(spkEntries.Any(spk => spk.Id == seatEntry.Id)?"border-success":rtsEntries.Any(rts => rts.Id == seatEntry.Id)?"border-warning":"") session h-100">
                <div class="card-header bg-transparent ">@seatEntry.Name </div>
                <div class="card-body @(spkEntries.Any(spk => spk.Id == seatEntry.Id)?"text-success":rtsEntries.Any(rts => rts.Id == seatEntry.Id)?"text-warning":"")">
                    <h5 class="card-title"> Место номер @seatEntry.Id </h5>
                    <p class="card-text"> Место @(seatEntry.Connected ? "Включено" : "Выключено") </p>
                </div>
                <div class="card-footer bg-transparent @(spkEntries.Any(spk => spk.Id == seatEntry.Id)?"border-success":rtsEntries.Any(rts => rts.Id == seatEntry.Id)?"border-warning":"")">
                    <ul class=" list-inline">
                        <li class="list-inline-item">
                            <button class="btn btn-primary" @onclick=" () => {MicOn(seatEntry.Id);  }"> Mic On </button>
                        </li>
                        <li class="list-inline-item">
                            <button class="btn btn-primary" @onclick="() => { MicOff(seatEntry.Id); }"> Mic Off </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        }
    </div>
</div>


@code {
    private IEnumerable<SeatEntry> seatEntries = new List<SeatEntry>();
    private IEnumerable<SpkEntry> spkEntries = new List<SpkEntry>();
    private IEnumerable<RtsEntry> rtsEntries = new List<RtsEntry>();
    protected override async Task OnInitializedAsync()
    {
        
        
        var answer = await Http.GetJsonAsync<bool>("api/Dicentis/isLogged");
        Console.WriteLine(answer);
        if (!answer) 
        {
            var credentials = await Http.GetJsonAsync<BoschInfo>("api/BoschInfoes/1"); 
            await Http.PostJsonAsync("api/Dicentis/login",credentials);
        }
        seatEntries = await Http.GetJsonAsync<IEnumerable<SeatEntry>>("api/Dicentis/seats");
        spkEntries = await Http.GetJsonAsync<IEnumerable<SpkEntry>>("api/Dicentis/speakers/false");
        rtsEntries = await Http.GetJsonAsync<IEnumerable<RtsEntry>>("api/Dicentis/waiting-list");
        Pooling();

    }
    private void MicOn(int id)
    {
        Task.Run(async () => await Http.PostJsonAsync("api/Dicentis/speakers", new PostSpeakerRequest { Id = id })).ContinueWith((t) =>
        {
            Task.Run(async () => await Http.GetJsonAsync<IEnumerable<SpkEntry>>("api/Dicentis/speakers")).ContinueWith((z) =>
            {
                if (!z.IsFaulted)
                    spkEntries = z.Result;
                this.StateHasChanged();

            });
            Task.Run(async () => await Http.GetJsonAsync<IEnumerable<RtsEntry>>("api/Dicentis/waiting-list")).ContinueWith((w) =>
            {
                if (!w.IsFaulted)
                    rtsEntries = w.Result;


            });
            this.StateHasChanged();

        });
    }
    private void MicOff(int id)
    {
        Task.Run(async () => await Http.DeleteAsync($"api/Dicentis/speakers/{id}")).ContinueWith((t) =>
        {
            Task.Run(async () => await Http.GetJsonAsync<IEnumerable<SpkEntry>>("api/Dicentis/speakers")).ContinueWith((z) =>
            {
                if (!z.IsFaulted)
                    spkEntries = z.Result;
                this.StateHasChanged();

            });
            Task.Run(async () => await Http.GetJsonAsync<IEnumerable<RtsEntry>>("api/Dicentis/waiting-list")).ContinueWith((w) =>
            {
                if (!w.IsFaulted)
                    rtsEntries = w.Result;


            });
            this.StateHasChanged();
        });
    }
    private void Update()
    {
        Task.Run(async () => await Http.GetJsonAsync<IEnumerable<SpkEntry>>("api/Dicentis/speakers")).ContinueWith((t) =>
        {
            if (!t.IsFaulted)
                spkEntries = t.Result;
            this.StateHasChanged();

        });
        Task.Run(async () => await Http.GetJsonAsync<IEnumerable<RtsEntry>>("api/Dicentis/waiting-list")).ContinueWith((t) =>
        {
            if (!t.IsFaulted)
                rtsEntries = t.Result;


        });
        this.StateHasChanged();
    }

    private async Task Pooling()
    {
        rtsEntries = await Http.GetJsonAsync<IEnumerable<RtsEntry>>("api/Dicentis/waiting-list");
        spkEntries = await Http.GetJsonAsync<IEnumerable<SpkEntry>>("api/Dicentis/speakers/true");
        this.StateHasChanged();
        await Pooling();
    }
}