﻿@page "/"
@using WebApp.Shared;
@using System.Threading
@inject HttpClient Http
    <div class="roomInfo">
        <h1> Устройства </h1>
        <h4> Камеры </h4>
        <div class="row">
            @foreach (var camera in cameras)
            {
                <div class="col-md-3 mb-4">
                    <div class="card shadow-lg text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">@camera.Name</div>
                        <div class="card-body">
                            <h5 class="card-title"> @camera.Port.PortName</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-primary"><em>Pan:</em> @camera.Coordinate.PanPosition </li>
                            <li class="list-group-item bg-primary"><em>Tilt:</em> @camera.Coordinate.TiltPosition </li>
                            <li class="list-group-item bg-primary"><em>Zoom:</em> @camera.Coordinate.Zoom </li>
                        </ul>
                        <div class="card-body bg-light">
                            <a href="@("presets/" + camera.Port.PortName)" class="card-link"> Пресеты </a>
                            <a href="@("control/" + camera.Port.PortName)" class="card-link"> Управление </a>

                        </div>

                    </div>
                </div>
            }
        </div>
        <h4> Крамеры </h4>
        <div class="row">
            @foreach (var kramer in kramers)
            {
                <div class="col-md-3 mb-4">
                    <div class="card shadow-lg text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header"> @kramer.Name </div>
                    <div class="card-body">
                        <h5 class="card-title"><em>IP: </em> @(kramer.Ip.Replace("http://",""))</h5>
                        <h5 class="card-title"><em>Port: </em> @kramer.Port</h5>
                    </div>
                    <div class="card-body bg-light">
                        <a href=@($"configuration/kramers/{kramer.Id}") class="card-link"> Настройки  </a>
                    </div>
                  </div>
                </div>
            }
        </div>
        <h4> Точка доступа Dicentis </h4>
        <div class="row">
            @foreach (var dice in dicentis)
            {
                <div class="col-md-3 mb-4">
                    <div class="card shadow-lg text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header"> Dicentis @dice.Id </div>
                        <div class="card-body">
                            <h5 class="card-title"><em>IP: </em> @dice.Ip.Replace("http://","")</h5>
                            <h5 class="card-title"><em>User: </em> @dice.UserName </h5>
                        </div>
                        <div class="card-body bg-light">
                            <button class=" btn btn-outline-primary btn-block" @onclick="() => { Off(); this.StateHasChanged();  }"> Off </button>
                            <button class=" btn btn-outline-primary btn-block" @onclick="() => { On();this.StateHasChanged(); }"> On </button>
                            <a href="configuration/dicentis" class="card-link"> Настройки  </a>
                        </div>
                  </div>
                </div>
            }
        </div>
    </div>
@code{
        IEnumerable<ViscaCamera> cameras = new List<ViscaCamera>();
        IEnumerable<KramerDevice> kramers = new List<KramerDevice>();
        IEnumerable<BoschInfo> dicentis = new List<BoschInfo>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            cameras = new List<ViscaCamera> {
                new ViscaCamera { Name = "Camera1", Port = new PortInfo { PortName = "COM4" }, Id = 1, Coordinate = new Coordinates { PanPosition = 100,TiltPosition = 120,Zoom = 1 } },
                new ViscaCamera { Name = "Camera2", Port = new PortInfo { PortName = "COM5" }, Id = 2, Coordinate = new Coordinates { PanPosition = 100,TiltPosition = 120,Zoom = 1 } },
                new ViscaCamera { Name = "Camera3", Port = new PortInfo { PortName = "COM6" }, Id = 3, Coordinate = new Coordinates { PanPosition = 100,TiltPosition = 120,Zoom = 1 } }
            };
            //cameras = await Http.GetJsonAsync<List<ViscaCamera>>("api/Cameras");
            //kramers = await Http.GetJsonAsync<List<KramerDevice>>("api/KramerDevices");
            kramers = new List<KramerDevice> { new KramerDevice { Name="kramer1", Id=1, Ip="192.168.10.4", Port = 5000 } };
            dicentis = new List<BoschInfo> { new BoschInfo { Ip="192.168.10.12", Id = 1, Password = "aaaaa", UserName="admin" } };
            //dicentis = await Http.GetJsonAsync<List<BoschInfo>>("api/BoschInfoes");
            //await Http.PostJsonAsync("api/Dicentis/setup",dicentis.ElementAt(0));
            //var answer = await Http.GetJsonAsync<bool>("api/Dicentis/isLogged");
            //Console.WriteLine(answer);
            //if (!answer)
            //{
            //   var credentials = await Http.GetJsonAsync<BoschInfo>("api/BoschInfoes/1");
            //   await Http.PostJsonAsync("api/Dicentis/login",dicentis.ElementAt(0));
            //}
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
    private async void Off()
    {
        await Http.PutJsonAsync("api/Dicentis/power",new EnergyStatus { State = 2 });
    }
    private async void On()
    {
        await Http.PutJsonAsync("api/Dicentis/power",new EnergyStatus { State = 0 });
    }

}
