﻿@page "/kramers"
@using WebApp.Shared
@inject HttpClient Http
<style>
    .btn {
        width: 50%;
    }
</style>
<h3>Hole Control</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
    <li class="breadcrumb-item active"> Управление потоком </li>
</ol>
<h4> Видеостена </h4>
<div class="d-flex justify-content-lg-between">
    <div class="card w-50 border-primary shadow-lg mb-3">
        <div class="card-header"> Источник 1 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[0] == 1? "btn-primary":"btn-outline-primary")" @onclick="() => {FromVIA(1);pressedButton[0] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[0] == 2? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCodec(1);pressedButton[0] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[0] == 3 ? "btn-primary": "btn-outline-primary")" @onclick="() => { FromMESH(1);pressedButton[0] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[0] == 4? "btn-primary":"btn-outline-primary")" @onclick="() => { FromARMOne(1); pressedButton[0] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[0] == 5? "btn-primary":"btn-outline-primary")" @onclick="() => { FromARMTwo(1); pressedButton[0] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[0] == 6 ? "btn-primary": "btn-outline-primary")" @onclick="() => { FromBlackMagicPGM(1); pressedButton[0] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[0] == 7 ? "btn-primary": "btn-outline-primary")" @onclick="() => { FromBlackMagicAUX(1); pressedButton[0] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[0] == 8? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraOne(1); pressedButton[0] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[0] == 9? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraTwo(1); pressedButton[0] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[0] == 10? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraThree(1); pressedButton[0] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[0] == 11? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraFour(1); pressedButton[0] = 11; }"> Камера 4 </button>
            </div>

        </div>
    </div>
    <div class="card border-primary  w-50 shadow-lg mb-3">
        <div class="card-header"> Источник 2 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[1] == 1? "btn-primary":"btn-outline-primary")" @onclick="() => {FromVIA(2);pressedButton[1] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[1] == 2? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCodec(2);pressedButton[1] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[1] == 3 ? "btn-primary": "btn-outline-primary")" @onclick="() => { FromMESH(2);pressedButton[1] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[1] == 4? "btn-primary":"btn-outline-primary")" @onclick="() => { FromARMOne(2); pressedButton[1] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[1] == 5? "btn-primary":"btn-outline-primary")" @onclick="() => { FromARMTwo(2); pressedButton[1] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[1] == 6 ? "btn-primary": "btn-outline-primary")" @onclick="() => { FromBlackMagicPGM(2); pressedButton[1] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[1] == 7 ? "btn-primary": "btn-outline-primary")" @onclick="() => { FromBlackMagicAUX(2); pressedButton[1] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[1] == 8? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraOne(2); pressedButton[1] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[1] == 9? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraTwo(2); pressedButton[1] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[1] == 10? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraThree(2); pressedButton[1] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[1] == 11? "btn-primary":"btn-outline-primary")" @onclick="() => { FromCameraFour(2); pressedButton[1] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<h4> Панель МЭШ </h4>
<div class="d-flex justify-content-between">
    <div class="card  w-50 border-info shadow-lg mb-3">
        <div class="card-header"> Панель МЭШ </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[2] == 1? "btn-info":"btn-outline-info")" @onclick="() => {FromVIA(27);pressedButton[2] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[2] == 2? "btn-info":"btn-outline-info")" @onclick="() => { FromCodec(27);pressedButton[2] = 2; }">Кодек </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[2] == 4? "btn-info":"btn-outline-info")" @onclick="() => { FromARMOne(27); pressedButton[2] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[2] == 5? "btn-info":"btn-outline-info")" @onclick="() => { FromARMTwo(27); pressedButton[2] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[2] == 6 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicPGM(27); pressedButton[2] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[2] == 7 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicAUX(27); pressedButton[2] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[2] == 8? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraOne(27); pressedButton[2] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[2] == 9? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraTwo(27); pressedButton[2] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[2] == 10? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraThree(27); pressedButton[2] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[2] == 11? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraFour(27); pressedButton[2] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<h4> Кодек Avaya XT5000 </h4>
<div class="d-flex justify-content-between">
    <div class="card  w-50 border-dark shadow-lg mb-3">
        <div class="card-header"> Avaya XT5000 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[3] == 1? "btn-dark":"btn-outline-dark")" @onclick="() => {FromVIA(7);pressedButton[3] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[3] == 3 ? "btn-dark": "btn-outline-dark")" @onclick="() => { FromMESH(7);pressedButton[3] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[3] == 4? "btn-dark":"btn-outline-dark")" @onclick="() => { FromARMOne(7); pressedButton[3] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[3] == 5? "btn-dark":"btn-outline-dark")" @onclick="() => { FromARMTwo(7); pressedButton[3] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[3] == 6 ? "btn-dark": "btn-outline-dark")" @onclick="() => { FromBlackMagicPGM(7); pressedButton[3] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[3] == 7 ? "btn-dark": "btn-outline-dark")" @onclick="() => { FromBlackMagicAUX(7); pressedButton[3] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[3] == 8? "btn-dark":"btn-outline-dark")" @onclick="() => { FromCameraOne(7); pressedButton[3] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[3] == 9? "btn-dark":"btn-outline-dark")" @onclick="() => { FromCameraTwo(7); pressedButton[3] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[3] == 10? "btn-dark":"btn-outline-dark")" @onclick="() => { FromCameraThree(7); pressedButton[3] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[3] == 11? "btn-dark":"btn-outline-dark")" @onclick="() => { FromCameraFour(7); pressedButton[3] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<h4> Президиум </h4>
<div class="card w-50 border-secondary shadow-lg mb-3">
    <div class="card-header">Президиум </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <button class="btn @(pressedButton[14] == 1? "btn-secondary":"btn-outline-secondary")" @onclick="() => {FromVIA(28);pressedButton[14] = 1; }"> VIA </button>
            <button class="btn @(pressedButton[14] == 2? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromCodec(28);pressedButton[14] = 2; }">Кодек </button>
            <button class="btn @(pressedButton[14] == 3 ? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromMESH(28);pressedButton[14] = 3; }"> МЭШ </button>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn @(pressedButton[14] == 4? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromARMOne(28); pressedButton[14] = 4; }"> ARM Опер. 1</button>
            <button class="btn @(pressedButton[14] == 5? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromARMTwo(28); pressedButton[14] = 5; }"> ARM Опер. 2 </button>
            <button class="btn @(pressedButton[14] == 6 ? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromBlackMagicPGM(28); pressedButton[14] = 6; }"> BlackMagic PGM </button>
            <button class="btn @(pressedButton[14] == 7 ? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromBlackMagicAUX(28); pressedButton[14] = 7; }"> BlackMagic AUX </button>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn @(pressedButton[14] == 8? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromCameraOne(28); pressedButton[14] = 8; }">Камера 1</button>
            <button class="btn @(pressedButton[14] == 9? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromCameraTwo(28); pressedButton[14] = 9; }">Камера 2</button>
            <button class="btn @(pressedButton[14] == 10? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromCameraThree(28); pressedButton[14] = 10; }">Камера 3</button>
            <button class="btn @(pressedButton[14] == 11? "btn-secondary":"btn-outline-secondary")" @onclick="() => { FromCameraFour(28); pressedButton[14] = 11; }"> Камера 4 </button>
        </div>
    </div>
</div>
<h4> Телевизоры 1-4 </h4>
<div class="d-flex justify-content-between">
    <div class="card w-50 border-success shadow-lg mb-3">
        <div class="card-header">Телевизор №1 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[4] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(17);pressedButton[4] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[4] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(17);pressedButton[4] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[4] == 3 ? "btn-success": "btn-outline-success")" @onclick="() => { FromMESH(17);pressedButton[4] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[4] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(17); pressedButton[4] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[4] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(17); pressedButton[4] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[4] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(17); pressedButton[4] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[4] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(17); pressedButton[4] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[4] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(17); pressedButton[4] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[4] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(17); pressedButton[4] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[4] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(17); pressedButton[4] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[4] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(17); pressedButton[4] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
    <div class="card w-50 border-success shadow-lg mb-3">
        <div class="card-header">Телевизор №2 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[5] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(18);pressedButton[5] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[5] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(18);pressedButton[5] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[5] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESH(18);pressedButton[5] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[5] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(18); pressedButton[5] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[5] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(18); pressedButton[5] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[5] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(18); pressedButton[5] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[5] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(18); pressedButton[5] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[5] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(18); pressedButton[5] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[5] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(18); pressedButton[5] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[5] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(18); pressedButton[5] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[5] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(18); pressedButton[5] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <div class="card w-50 border-success shadow-lg mb-3">
        <div class="card-header">Телевизор №3 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[6] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(19);pressedButton[6] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[6] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(19);pressedButton[6] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[6] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESH(19);pressedButton[6] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[6] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(19); pressedButton[6] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[6] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(19); pressedButton[6] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[6] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(19); pressedButton[6] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[6] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(19); pressedButton[6] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[6] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(19); pressedButton[6] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[6] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(19); pressedButton[6] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[6] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(19); pressedButton[6] = 10; }"> Камера 3</button>
                <button class="btn @(pressedButton[6] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(19); pressedButton[6] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
    <div class="card w-50 border-success shadow-lg mb-3">
        <div class="card-header">Телевизор №4 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[7] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(20);pressedButton[7] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[7] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(20);pressedButton[7] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[7] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESH(20);pressedButton[7] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[7] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(20); pressedButton[7] = 4; }">ARM Опер. 1</button>
                <button class="btn @(pressedButton[7] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(20); pressedButton[7] = 5; }">ARM Опер. 2</button>
                <button class="btn @(pressedButton[7] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(20); pressedButton[7] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[7] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(20); pressedButton[7] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3"> 
                <button class="btn @(pressedButton[7] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(20); pressedButton[7] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[7] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(20); pressedButton[7] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[7] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(20); pressedButton[7] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[7] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(20); pressedButton[7] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <div class="card w-50 border-success shadow-lg mb-3">
        <div class="card-header">Телевизоры блока 1 1-4 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[8] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIAToAll(17,18,19,20);pressedButton[8] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[8] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodecToAll(17,18,19,20);pressedButton[8] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[8] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESHToAll(17,18,19,20);pressedButton[8] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[8] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOneToAll(17,18,19,20); pressedButton[8] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[8] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwoToAll(17,18,19,20); pressedButton[8] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[8] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGMToAll(17,18,19,20); pressedButton[8] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[8] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUXToAll(17,18,19,20); pressedButton[8] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[8] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOneToAll(17,18,19,20); pressedButton[8] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[8] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwoToAll(17,18,19,20); pressedButton[8] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[8] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThreeToAll(17,18,19,20); pressedButton[8] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[8] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFourToAll(17,18,19,20); pressedButton[8] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<h4> TV2.1-TV2.2 </h4>
<div class="d-flex justify-content-between">
    <div class="card w-50 border-danger shadow-lg mb-3">
        <div class="card-header">Телевизор №2.1 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[9] == 1? "btn-info":"btn-outline-info")" @onclick="() => {FromVIA(25);pressedButton[9] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[9] == 2? "btn-info":"btn-outline-info")" @onclick="() => { FromCodec(25);pressedButton[9] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[9] == 3 ? "btn-info":"btn-outline-info")" @onclick="() => { FromMESH(25);pressedButton[9] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[9] == 4? "btn-info":"btn-outline-info")" @onclick="() => { FromARMOne(25); pressedButton[9] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[9] == 5? "btn-info":"btn-outline-info")" @onclick="() => { FromARMTwo(25); pressedButton[9] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[9] == 6 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicPGM(25); pressedButton[9] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[9] == 7 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicAUX(25); pressedButton[9] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[9] == 8? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraOne(25); pressedButton[9] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[9] == 9? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraTwo(25); pressedButton[9] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[9] == 10? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraThree(25); pressedButton[9] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[9] == 11? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraFour(25); pressedButton[9] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
    <div class="card w-50 border-danger shadow-lg mb-3">
        <div class="card-header">Телевизор №2.2 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[10] == 1? "btn-info":"btn-outline-info")" @onclick="() => {FromVIA(26);pressedButton[10] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[10] == 2? "btn-info":"btn-outline-info")" @onclick="() => { FromCodec(26);pressedButton[10] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[10] == 3 ? "btn-info":"btn-outline-info")" @onclick="() => { FromMESH(26);pressedButton[10] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[10] == 4? "btn-info":"btn-outline-info")" @onclick="() => { FromARMOne(26); pressedButton[10] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[10] == 5? "btn-info":"btn-outline-info")" @onclick="() => { FromARMTwo(26); pressedButton[10] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[10] == 6 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicPGM(26); pressedButton[10] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[10] == 7 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicAUX(26); pressedButton[10] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[10] == 8? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraOne(26); pressedButton[10] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[10] == 9? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraTwo(26); pressedButton[10] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[10] == 10? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraThree(26); pressedButton[10] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[10] == 11? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraFour(26); pressedButton[10] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <div class="card w-50 border-danger shadow-lg mb-3">
        <div class="card-header">Телевизоры блока 2 №1-2 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[11] == 1? "btn-info":"btn-outline-info")" @onclick="() => {FromVIAToAll(25,26);pressedButton[11] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[11] == 2? "btn-info":"btn-outline-info")" @onclick="() => { FromCodecToAll(25,26);pressedButton[11] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[11] == 3 ? "btn-info":"btn-outline-info")" @onclick="() => { FromMESHToAll(25,26);pressedButton[11] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[11] == 4? "btn-info":"btn-outline-info")" @onclick="() => { FromARMOneToAll(25,26); pressedButton[11] = 4; }"> ARM Оператор 1</button>
                <button class="btn @(pressedButton[11] == 5? "btn-info":"btn-outline-info")" @onclick="() => { FromARMTwoToAll(25,26); pressedButton[11] = 5; }"> ARM Оператор 2 </button>
                <button class="btn @(pressedButton[11] == 6 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicPGMToAll(25,26); pressedButton[11] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[11] == 7 ? "btn-info":"btn-outline-info")" @onclick="() => { FromBlackMagicAUXToAll(25,26); pressedButton[11] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[11] == 8? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraOneToAll(25,26); pressedButton[11] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[11] == 9? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraTwoToAll(25,26); pressedButton[11] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[11] == 10? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraThreeToAll(25,26); pressedButton[11] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[11] == 11? "btn-info":"btn-outline-info")" @onclick="() => { FromCameraFourToAll(25,26); pressedButton[11] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<h4> BlackMagic </h4>
<div class="d-flex justify-content-between">
    <div class="card w-50 border-light shadow-lg mb-3">
        <div class="card-header">BlackMagic 1</div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[12] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(5);pressedButton[12] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[12] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(5);pressedButton[12] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[12] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESH(5);pressedButton[12] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[12] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(5); pressedButton[12] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[12] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(5); pressedButton[12] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[12] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(5); pressedButton[12] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[12] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(5); pressedButton[12] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[12] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(5); pressedButton[12] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[12] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(5); pressedButton[12] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[12] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(5); pressedButton[12] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[12] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(5); pressedButton[12] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
    <div class="card w-50 border-light shadow-lg mb-3">
        <div class="card-header">BlackMagic 2 </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[13] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(6);pressedButton[13] = 1; }"> VIA </button>
                <button class="btn @(pressedButton[13] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(6);pressedButton[13] = 2; }">Кодек </button>
                <button class="btn @(pressedButton[13] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESH(6);pressedButton[13] = 3; }"> МЭШ </button>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn @(pressedButton[13] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(6); pressedButton[13] = 4; }"> ARM Опер. 1</button>
                <button class="btn @(pressedButton[13] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(6); pressedButton[13] = 5; }"> ARM Опер. 2 </button>
                <button class="btn @(pressedButton[13] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(6); pressedButton[13] = 6; }"> BlackMagic PGM </button>
                <button class="btn @(pressedButton[13] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(6); pressedButton[13] = 7; }"> BlackMagic AUX </button>
            </div>
            <div class="d-flex justify-content-between mb-3">

                <button class="btn @(pressedButton[13] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(6); pressedButton[13] = 8; }">Камера 1</button>
                <button class="btn @(pressedButton[13] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(6); pressedButton[13] = 9; }">Камера 2</button>
                <button class="btn @(pressedButton[13] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(6); pressedButton[13] = 10; }">Камера 3</button>
                <button class="btn @(pressedButton[13] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(6); pressedButton[13] = 11; }"> Камера 4 </button>
            </div>
        </div>
    </div>
</div>
<div class="card w-50 border-light shadow-lg mb-3">
    <div class="card-header">BlackMagic WebP </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <button class="btn @(pressedButton[14] == 1? "btn-success":"btn-outline-success")" @onclick="() => {FromVIA(3);pressedButton[14] = 1; }"> VIA </button>
            <button class="btn @(pressedButton[14] == 2? "btn-success":"btn-outline-success")" @onclick="() => { FromCodec(3);pressedButton[14] = 2; }">Кодек </button>
            <button class="btn @(pressedButton[14] == 3 ? "btn-success":"btn-outline-success")" @onclick="() => { FromMESH(3);pressedButton[14] = 3; }"> МЭШ </button>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn @(pressedButton[14] == 4? "btn-success":"btn-outline-success")" @onclick="() => { FromARMOne(3); pressedButton[14] = 4; }"> ARM Опер. 1</button>
            <button class="btn @(pressedButton[14] == 5? "btn-success":"btn-outline-success")" @onclick="() => { FromARMTwo(3); pressedButton[14] = 5; }"> ARM Опер. 2 </button>
            <button class="btn @(pressedButton[14] == 6 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicPGM(3); pressedButton[14] = 6; }"> BlackMagic PGM </button>
            <button class="btn @(pressedButton[14] == 7 ? "btn-success":"btn-outline-success")" @onclick="() => { FromBlackMagicAUX(3); pressedButton[14] = 7; }"> BlackMagic AUX </button>
        </div>
        <div class="d-flex justify-content-between mb-3">

            <button class="btn @(pressedButton[14] == 8? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraOne(3); pressedButton[14] = 8; }">Камера 1</button>
            <button class="btn @(pressedButton[14] == 9? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraTwo(3); pressedButton[14] = 9; }">Камера 2</button>
            <button class="btn @(pressedButton[14] == 10? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraThree(3); pressedButton[14] = 10; }">Камера 3</button>
            <button class="btn @(pressedButton[14] == 11? "btn-success":"btn-outline-success")" @onclick="() => { FromCameraFour(3); pressedButton[14] = 11; }"> Камера 4 </button>
        </div>
    </div>
</div>


@code {
    public string Message;
    List<int> pressedButton = new List<int> { -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1 };
    List<KramerDevice> Devices = new List<KramerDevice>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var cred = await Http.GetJsonAsync<List<KramerDevice>>("api/KramerDevices");
            var credentials = cred.SingleOrDefault(c => c.Name == "kramer");
            if (credentials == default)
                await Http.PostJsonAsync("api/Kramers/setup/kramer", new KramerDevice { Ip = "192.168.11.4", Port = 5000, Name = "kramer" });
            else
                await Http.PostJsonAsync("api/Kramers/setup/kramer", credentials);
        }
        catch
        {
            await Http.PostJsonAsync("api/Kramers/setup/kramer", new KramerDevice { Ip = "192.168.11.4", Port = 5000, Name = "kramer" });
        }
    }
    Task FromARMOne(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 18,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromARMTwo(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 19,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromVIA(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 3,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromCodec(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 4,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromBlackMagicPGM(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 1,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromBlackMagicAUX(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 2,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromMESH(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 17,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromCameraOne(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 5,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromCameraTwo(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 6,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromCameraThree(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 7,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    Task FromCameraFour(int output)
    {
        var switchPath = new SwitchRequest
        {
            In = 8,
            Out = output
        };
        return Task.Run(async () => await Http.PostJsonAsync("api/Kramers/kramer", switchPath));
    }
    async void FromARMOneToAll(params int[] args)
    {
        foreach (var arg in args)
        {
            await FromARMOne(arg);
        }
    }
    async void FromARMTwoToAll(params int[] args)
    {
        foreach (var arg in args)
        {
            await FromARMTwo(arg);
        }
    }
    async void FromCodecToAll(params int[] args)
    {
        foreach (var arg in args)
        {
            await FromCodec(arg);
        }
    }
    async void FromVIAToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromVIA(arg);
    }
    async void FromBlackMagicPGMToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromBlackMagicPGM(arg);
    }
    async void FromBlackMagicAUXToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromBlackMagicAUX(arg);
    }
    async void FromMESHToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromMESH(arg);
    }
    async void FromCameraOneToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromCameraOne(arg);
    }
    async void FromCameraTwoToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromCameraTwo(arg);
    }
    async void FromCameraThreeToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromCameraThree(arg);
    }
    async void FromCameraFourToAll(params int[] args)
    {
        foreach (var arg in args)
            await FromCameraFour(arg);
    }

}
