﻿@page "/configuration/kramers/{id}"
@using WebApp.Shared;
@inject HttpClient Http
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
        <li class="breadcrumb-item"> Конфигурация </li>
        <li class="breadcrumb-item active"> Крамер @device.Name </li>
    </ol>
    <h3> @device.Name </h3>
    <EditForm Model="device" OnSubmit="SendRequest">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label class=" font-weight-bold"> Адрес устройства </label>
                <InputText class="form-control my-1 mr-sm-2" @bind-Value="device.Ip" />
            </div>
            <div class="col-md-4 mb-2">
                <label class="col-1 font-weight-bold"> Порт </label>
                <InputNumber class="form-control my-1 mr-sm-2" @bind-Value="device.Port" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-1"> Подтвердить </button>
    </EditForm>
@code {
    [Parameter]
    public string Id { get; set; }
    KramerDevice device = new KramerDevice();
    protected override async Task OnInitializedAsync()
    {
        device = await Http.GetJsonAsync<KramerDevice>($"api/KramerDevices/{Id}");

    }
    public async Task SendRequest()
    {
        await Http.PutJsonAsync($"api/KramerDevices/{Id}",device);
        await Http.GetAsync("api/KramerDevices/logout");
    }
}
