﻿@page "/tvs"
@using WebApp.Shared

@inject HttpClient Http
<h4> Телевизоры </h4>
<div class="row">
    @foreach(var tv in tvInfoes) 
    { 
    <div class="col-md-3 mb-4">
        <div class="card shadow-lg  mb-3" style="max-width: 18rem;">
            <div class="card-header"> @tv.Tv.Name </div>
            <div class="card-body">
                <h5 class="card-title"> <em>Status </em> @(tv.State == 1 ? "Выключено" : tv.State == 2 ? "Включено" : "Не известно") </h5>
                <h5 class="card-title"><em>IP: </em> @tv.Tv.Ip</h5>
                <h5 class="card-title"><em>Port: </em> @tv.Tv.Port </h5>
                <button class=" btn @(tv.State == 1? "btn-primary": "btn-outline-primary") btn-block" @onclick="() => { Off(tv.Tv.Name); tv.State = 1;this.StateHasChanged();  }"> Off </button>
                <button class=" btn @(tv.State == 2? "btn-primary": "btn-outline-primary") btn-block" @onclick="() => { On(tv.Tv.Name); tv.State = 2;this.StateHasChanged(); }"> On </button>
            </div>
            <div class="card-body bg-light">
                <a href=@("configuration/tv/" + tv.Tv.Id) class="card-link"> Настройки  </a>
            </div>
        </div>
    </div>
    }
</div>


@code {
    private List<DisplayTVState> tvInfoes = new List<DisplayTVState>();
    protected override async Task OnInitializedAsync()
    {
        /*
        var tvs = await Http.GetJsonAsync<List<TvCredentials>>("api/TvCredentials");
        foreach(var tv in tvs)
        {
            tv.Name = tv.Name.Replace(' ', '-');
            Console.WriteLine(tv.Ip);
            await Http.PostJsonAsync("api/TV",tv);
            var tvInfo = new DisplayTVState { Tv = tv };
            tvInfo.State = await Http.GetJsonAsync<int>($"api/TV/{tv.Name}/status");
            tvInfoes.Add(tvInfo);
        }
        */
        var tvs = new List<TvCredentials> { new TvCredentials { Id = 1, Ip = "192.168.1.1", Port=5000, TvId= 1, Name = "Tv1" } };
        var tvInfo = new DisplayTVState { Tv = tvs[0],State = 1 };
        tvInfoes.Add(tvInfo);

    }
    private async void On(string name)
    {
        await Http.GetAsync($"api/TV/{name}/on");
    }
    private async void Off(string name)
    {
        await Http.GetAsync($"api/TV/{name}/off");
    }
}
