﻿@page "/voting/setup"
@using WebApp.Shared;
@inject HttpClient Http
<style>
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
    <li class="breadcrumb-item"> <a href="/conference"> Конференция </a></li>
    <li class="breadcrumb-item active"> Управление голосованием </li>
</ol>
<EditForm Model="@info" OnValidSubmit="SendRequest">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label class="col- font-weight-bold"> Тема: </label>
        <InputText class="form-control my-1 mr-sm-2" @bind-Value="info.Subject" />
    </div>
    <div class="form-group">
        <label for="mode" class="col-2 font-weight-bold"> Режим ответа </label>
        <InputSelect id="mode" class="custom-select my-1 mr-sm-2" @bind-Value="info.Mode">
            <option value="0"> ЗА / ПРОТИВ </option>
            <option value="1"> ЗА / ПРОТИВ / ВОЗДЕРЖАТЬСЯ </option>
            <option value="2"> ЗА / ПРОТИВ / ВОЗДЕРЖАТЬСЯ / ОТКАЗАТЬСЯ УЧАСТВОВАТЬ </option>
            <option value="3"> ДА / НЕТ </option>
            <option value="4"> ДА / НЕТ / ВОЗДЕРЖАТЬСЯ </option>
            <option value="5"> ДА / НЕТ / ВОЗДЕРЖАТЬСЯ / ОТКАЗАТЬСЯ УЧАСТВОВАТЬ </option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label>
            Engineering Approval:
            <InputCheckbox class="custom-control-inputcustom-checkbox" @bind-Value="info.Individuals" />
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-block my-1"> Submit </button>
</EditForm>
<button type="submit" class="btn btn-danger btn-block my-1" @onclick="StopVoting"> Stop </button>
@code {
    private VotingInfo info = new VotingInfo();

    protected override async Task OnInitializedAsync()
    {
        var answer = await Http.GetJsonAsync<bool>("api/Dicentis/isLogged");
        if (!answer)
        {
            var credentials = await Http.GetJsonAsync<BoschInfo>("api/BoschInfoes/1");
            await Http.PostJsonAsync("api/Dicentis/login",credentials);
        }
        //Http.DefaultRequestHeaders.ConnectionClose = false;
        info = await Http.GetJsonAsync<VotingInfo>("/api/Dicentis/voting");
    }
    private async void SendRequest()
    {
        await Http.PutJsonAsync("/api/Dicentis/voting",info);

        await Http.PutJsonAsync("/api/Dicentis/voting/state",new VotingState { State = StateEnum.Open });
    }
    private void StopVoting()
    {
        try
        {
            Task.Run(async () => await Http.PutJsonAsync("/api/Dicentis/voting/state",new VotingState { State = StateEnum.Closed }));
        }
        catch
        {

        }
    }
}
