﻿@page "/voting/results"
@using WebApp.Shared
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util
@using System.Linq

@inject HttpClient Http
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=""> Устройства </a> </li>
        <li class="breadcrumb-item"> <a href="/conference"> Конференция </a></li>
        <li class="breadcrumb-item"> <a href="/voting/setup"> Управление голосованием </a> </li>
        <li class="breadcrumb-item active">  Результат голосования  </li>
    </ol>
@if(inited)
{
    <ChartJsPieChart @ref="_pieChartJs" Config="@_config" Width="600" Height="300" />
}
@code {
    bool inited = false;
    private PieConfig _config;
    private ChartJsPieChart _pieChartJs;
    private WebApp.Shared.VotingResults results = new WebApp.Shared.VotingResults();
    protected override async Task OnInitializedAsync()
    {
        var answer = await Http.GetJsonAsync<bool>("api/Dicentis/isLogged");
        Console.WriteLine(answer);
        if (!answer) 
        {
            var credentials = await Http.GetJsonAsync<BoschInfo>("api/BoschInfoes/1");
            await Http.PostJsonAsync("api/Dicentis/login",credentials);
        }
        results = await Http.GetJsonAsync<WebApp.Shared.VotingResults>("api/Dicentis/voting/results");
        _config = new PieConfig
        {
            Options = new PieOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Результаты голосования"

                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };
        _config.Data.Labels.AddRange(results.Results.Select(res => res.Name).ToArray<string>());
        var pieSet = new PieDataset
        {
            BackgroundColor = new[] { ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString() },
            BorderWidth = 0,
            HoverBackgroundColor = ColorUtil.RandomColorString(),
            HoverBorderColor = ColorUtil.RandomColorString(),
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };
        pieSet.Data.AddRange(results.Results.Select(res => (double)res.Value).ToArray<double>());
        _config.Data.Datasets.Add(pieSet);
        inited = true;



    }
}
